= image_tag @record.image.url
%br
%h4
  Price =
  = @record.price
%br
%h4
  URL =
  = @record.image.path
%br
%h4
  File Name =
  = @record.image_file_name
%br
  for see template in another format just type:
  %h4
    ".json"
  in your browser address field after number
